# Dependencies
node_modules/
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
build/
dist/

# Prisma
/prisma/migrations/
/src/generated/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/

# Temporary files
*.tmp
*.temp
.cache/

# System Files
.DS_Store
Thumbs.db
